* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background: #f8f8f9;
}

body {
  color: #404040;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.intro {
  background: #1c1b1b;
}



@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .menu, .header-contents {
    grid-column: 2/4;
  }

  .menu-logo {
    display: flex;
    align-items: center;
    min-height: 120px;
    padding-top: 40px;
  }
}