* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background: #f8f8f9;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

body {
  color: #404040;
  font-family: Didot,'Theano Didot',Georgia,X-LocaleSpecific,serif;
  font-size: 16px;
  line-height: 1.5;
}

.intro {
  background: #1c1b1b;
}

.logo {
  height: 18px;
}

.menu-navigation {
  padding-top: 40px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1330px;
}

.menu-navigation .grid-container {
  list-style-type: none;
}

.menu-navigation .grid-container li {
  color: #fff;
}  

.intro .header-contents {
  padding-top: 95px;
  color: #fff;
}

/*.cards {
  background: linear-gradient(90deg,#fff 0,#fff 50%,#f8f8f9 0,#f8f8f9);
}*/
.cards ul {
  list-style-type: none;
}

.card .card-contents {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 30px;
}

.card .card-contents img {
  display: none;
  flex: 0 0 48px;
  margin-right: 24px;
  margin-top: 6px;
  height: 48px;
  width: 48px;
}

.card .card-contents .contents-wrapper {
  padding-top: 10px;
}

.card .card-contents .contents-wrapper .team {
  opacity: .6;
  font-weight: 600;
  display: inline;
  font-size: 12px;
  color: #1c1b1b;
  text-transform: uppercase;
}

.card .card-contents .contents-wrapper .description {
  position: relative;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  color: #1c1b1b;
}  

.roles .roles-wrapper h2 {
  font-size: 12px;
  color: #1c1b1b;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.roles .roles-wrapper p {
  font-size: 18px;
  line-height: 2;
  letter-spacing: -.05em;
  margin: 0 0 30px;
}

.footer {
  background: #1c1b1b;
}

.footer .footer-container {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1410px;
}

.footer .footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  padding-top: 116px;
  padding-bottom: 135px;
}

.footer .footer-wrapper .footer-left {
  display: block;
  flex: none;
  align-items: flex-start;
  align-self: stretch;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer .footer-wrapper .footer-left .left-wrapper {
  background: #1c1b1b;
}

.footer .footer-wrapper .footer-left .left-wrapper .logo {
  margin-bottom: 115px;
  width: 85px;
}

.footer .footer-wrapper .footer-left .left-wrapper p {
  margin: 0 0 25px;
  max-width: 280px;
  font-size: 20px;
  line-height: 1.6;
}

.footer .footer-wrapper .footer-left .left-wrapper .empty-space {
  height: 60px;
}

.footer .footer-wrapper .footer-left .left-wrapper .left-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 350px;
}  

.footer .footer-wrapper .footer-left .left-wrapper .left-form .left-input {
  flex: 1 1 0;
  padding: 0 0 0 25px;
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  font-weight: 300;
  color: #ccc;
  background: #232323;
  border: 0;
  outline: none;
}

.footer .footer-wrapper .footer-left .left-wrapper .left-form .left-button {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
  position: relative;
  width: 54px;
  height: 54px;
  color: #1c1b1b;
  cursor: pointer;
  background: #fff;
}

.footer .footer-wrapper .footer-left .left-wrapper .left-form .left-button .svg-icon {
  position: relative;
  top: 1px;
  left: 0;
  width: 10px;
  height: 10px;
} 

.footer .footer-wrapper .footer-right {
  display: block;
  flex: none;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.footer .footer-wrapper .right-wrapper {
  display: flex;
  flex: 0 1 100%;
  align-self: flex-end;
  align-items: stretch;
  margin-bottom: 115px;
}  

.footer .footer-wrapper .right-wrapper .link-wrapper {
  margin-bottom: 20px;
}  

.footer .footer-wrapper .right-wrapper .link-wrapper a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}  

.footer .footer-wrapper .right-wrapper .link-wrapper a > .svg-icon {
  width: 27px;
  height: 27px;
  fill: hsla(0,0%,100%,.75);
} 

.footer .footer-wrapper .right-wrapper nav .nav-link {
  padding: 0;
  vertical-align: baseline;
  border: 0;
  background: transparent;
  margin: 0 16px;
  font-size: 14px;
  color: #494949;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer-wrapper .right-wrapper nav .nav-link:first-child {
  margin-left: 0;
}

.footer .footer-wrapper .right-wrapper nav .nav-link:last-child {
  margin-right: 0;
}  

.footer .footer-wrapper .copyright {
  display: block;
  flex: none;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  opacity: .4;
  margin-bottom: 0;
  font-weight: 500;
  color: #fff;
}





@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr repeat(2, minmax(auto, 35em)) 1fr 1fr;
    
  }

  /* intro section style */

  .intro {
    grid-template-rows: 1fr 375px;
  }

  .menu-navigation, .header-contents {
    grid-column: 2/6;
    padding-left: 60px;
    padding-right: 60px;
  }

  .menu-navigation .grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 100px);
    
  }
  .grid-container > li:nth-child(2) {
    grid-row: 2;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
  }

  .grid-container > li:nth-child(3) {
    justify-self: end;
  }
  .grid-container > li:nth-child(4) {
    justify-self: end;
  }
  .grid-container > li:nth-child(5) {
    justify-self: end;
  }

  /*.grid-container li:not(:nth-child(1)) {
    justify-self: end;
  }*/

  .intro .header-contents h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 20px;
  } 
 

  .intro .header-contents p {
    font-size: 18px;
    line-height: 2;
  } 

  /* card list section style */

  .cards::after {
    content:"";
    display: block;
    top: 0;
    left: 50%;
    width: 100%;
    height: 270px;
    background: #1c1b1b;
  }

  .cards-background {
    grid-column: 1/2;
    background: #fff;
  }
  .cards ul {
    grid-column: 2/6;
    padding-top: 80px;
    background: #fff;
    padding-left: 60px;
    padding-right: 60px;
  }

  .cards ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr), 200px;
    grid-gap: 2em;
  }

  .card .card-contents img {
    display: block;
    height: 100%;
    border-radius: 50%;
  }

  .cards .load-more-background {
    grid-column: 1;
    grid-row: 4;
    background: #fff;
  }

  .cards .load-more {
    grid-column: 2 / 6;
    grid-row: 4;

    text-align: center;
    background: #fff;
  }

  .cards .load-more .btn-more {

    min-width: 190px;
    font-size: 12px;
    font-weight: 600;
    line-height: 46px;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: transparent;
    text-transform: uppercase;
  }

  .roles .roles-background {
    grid-column: 1/2;
  }

  .roles .roles-wrapper {
    grid-column: 3/5;
    padding-top: 136px;
    padding-bottom: 136px;
    width: 60%;
    margin-left: 20%;

  }

  .roles .roles-wrapper h2 {
    margin-bottom: 40px;
    font-family: ff-clan-web-pro,arial;
  }
  
  .roles .roles-wrapper p {
    font-size: 24px;
    margin-bottom: 65px;
  }

  .roles .roles-wrapper .link-wrapper {

  }

  .roles .roles-wrapper .link-wrapper .roles-link {
    display: inline-flex;
    justify-content: center;
    position: relative;
    height: 48px;
    min-width: 190px;
    font-size: 12px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    color: #1c1b1b;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    background: transparent;
    font-family: ff-clan-web-pro,arial;
  }

  .roles .roles-wrapper .link-wrapper .link-right {
    margin-left: 0;
    border-color: transparent;
  }

  .footer .footer-wrapper .footer-left {
    margin-left: 8.3%;
    width: 91.6%;
  }  

  .footer .footer-wrapper .footer-right {
    margin-left: 8.3%;
    width: 91.6%;
  }  
  
  .footer .footer-wrapper .copyright {
    position: absolute;
    bottom: 135px;
    left: 8.3%;
    width: 50%;
  }

}

@media screen and (min-width: 1024px) {

  .footer {
    background: linear-gradient(90deg,#1c1b1b 0,#1c1b1b 50%,transparent 0,transparent);
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer .footer-wrapper {
    padding: 0;
  }  

  .footer .footer-wrapper .footer-left {
    margin-left: 8.3%;
    width: 50%;
  }  

  .footer .footer-wrapper .footer-right {
    display: flex;
    margin-left: 0;
    width: 41.6%;
  }  

  .footer .footer-wrapper .footer-left .left-wrapper {
    padding-top: 116px;
    padding-bottom: 135px;
  }  
  
  .footer .footer-wrapper .footer-left .left-wrapper .logo {
    margin-bottom: 115px;
    width: 85px;
  }  

  .footer .footer-wrapper .footer-left .left-wrapper p {
    margin: 0 0 35px;
    max-width: none;
    font-size: 14px;
  }  

  .footer .footer-wrapper .footer-left .left-wrapper .left-form {
    width: 82%;
  } 

  .footer .footer-wrapper .footer-left .left-wrapper .empty-space {
    height: 150px;
  }

  .footer .footer-wrapper .footer-right {
    margin-left: 0;
    width: 41.6%;
    display: flex;
  } 
  
  .footer .footer-wrapper .footer-right .right-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
  } 

  .footer .footer-wrapper .footer-right .right-wrapper .container {
    padding-top: 116px;
    padding-bottom: 135px;
  }  

  .footer .footer-wrapper .footer-right .right-wrapper .container .link-wrapper {
    margin-bottom: 167px;
  }  

  .footer .footer-wrapper .footer-right .right-wrapper .container .link-wrapper a > .svg-icon {
    fill: #1c1b1b;
  }  

  /* .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr repeat(2, minmax(auto, 35em)) 1fr 1fr;
  }
  
  .footer {
    background: linear-gradient(90deg,#1c1b1b 0,#1c1b1b 50%,transparent 0,transparent);
    grid-column: 1/7;
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer .footer-wrapper {
    grid-column: 2/6;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    align-items: stretch;
    position: relative;
  }
  .footer .footer-wrapper .footer-left {
    margin-left: 8.3%;
    width: 50%;
    display: block;
    flex: none;
    align-items: flex-start;
    align-self: stretch;
    padding-left: 15px;
    padding-right: 15px;
    background:#1c1b1b;
    color: #fff;
  }
  
  .footer .footer-wrapper .footer-left .left-wrapper {
    padding-top: 116px;
    padding-bottom: 135px;
  }  
  
  .footer .footer-wrapper .footer-left .left-wrapper .logo {
    margin-bottom: 115px;
    width: 85px;
  }  

  .footer .footer-wrapper .footer-left .left-wrapper .left-form {
    width: 82%;
  } 
  
  .footer .footer-wrapper .footer-right {
    margin-left: 0;
    width: 41.6%;
    display: flex;
  } 
  
  .footer .footer-wrapper .footer-right .right-wrapper {
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
  }   */
}  