body {
	margin: 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.Prose {
  display: grid;
  grid-template-columns: 
    [a-start] minmax(1em, 1fr)
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [a-end];  
}

.Prose > * {
  grid-column: main;
}

.Prose-splash {
  grid-column: a;
}