* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hg > * {
  padding: 15px;
  text-align: center;
}

.hg__header {
  background: #F2D0DA;
  writing-mode: horizontal-tb;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 40px;
}
.hg__main {
  grid-row: 3;
}

.hg__left {
  grid-row: 2;
}

.hg__left, .hg__right {
  background: #CFD7D7;
  font-size: 1rem;
}

.hg__footer {
  background: #4B5E73;
  color: #fff
}

.hg {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 1fr 50px 50px;
    grid-gap: .25em;
    min-height: 100vh;
  }

@media screen and (min-width: 600px) {
  .hg {
    grid-template-columns: 
    [full-start] minmax(3em, 1fr)
    [main-start] minmax(0, 40em) [main-end]
    minmax(3em, 1fr) [full-end];
    grid-template-rows: 5em 1fr 5em;
    min-height: 100vh;
  }
  
}