* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  background: #fcfcfc;
  line-height: 1.2;
}

.wrapper {
  margin: 4em;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

article {
  padding: 20px;
  margin: 10px;
  background: #fff;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
}

article:nth-child(1), article:nth-child(5), article:nth-child(10) {
  grid-column: span 2;
  grid-row: span 2;
}

img {
  width: 100%;
}