* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #456bd9;
  font-family: Redacted, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #fff;
}


.content {
  display: grid;
  grid-template-columns: 
  [full-start] minmax(1em, 1fr) 
  [main-start] minmax(0, 40em) [main-end]
  minmax(1em, 1fr) [full-end];
}

.content {
  padding-bottom: 1em;
  padding-top: 1em;
}

.content > * {
  grid-column: main;
}

.content > * + * {
  margin-top: 1em;
}

.content-tiles {
  display: grid;
  grid-column: full;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  padding-left: 1em;
  padding-right: 1em;
}

.tile {
  background-color: #35c98d;
  min-height: 10em;
}