.container {
  margin: 0 auto;  /* Center horizontally at large size */
  max-width: 64em; /* Limit maximum width */
  padding: 0.75em; /* Add half-gutter whitespace which will combine with child elements */
}

/* Give content areas half the gutter space padding, which combines with the 
container margin to form the full gutter widths. */
.content,
.sidebar {
  padding: 0.75em;
}

/* 
1. Use flexbox so we can easily change the layout in later with media queries.
2. Display in a column by default
3. Counteract the parent margin so the sidebar elements can benefit from ths same additive margin
*/

.sidebar {
  display: flex; /* 1 */
  flex-direction: column; /* 2 */
  margin: -0.75em; /* 3 */
  position: relative; /* 3 */
}

/* Combines with sidebar whitespace to form full gutter width */

.box {
  margin: 0.75em;
  background: #dbe5ea;
  border-radius: 0.5em;
  overflow: hidden;
}

.box-header {
  background: #0f1c3f;
  color: #fff;
  font-size: 1.25em;
  line-height: 1;
  padding: 1em;
}

.box-menu {
  list-style: none;
  padding: 0;
}


