* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #456bd9;
}

/* 
1. Use grid
2. Gutter space
3. Center at large sizes
4. Set maximum width
*/

.container {
  display: grid; /* 1 */
  grid-gap: 1.5em; /* 2 */
  margin: 1.5em auto;  /* 2, 3 */
  max-width: 64em; /* 4 */
  padding: 0 1.5em; /* 2 */
}

.sidebar {
  display: inherit;
  grid-gap: inherit;
}


.content * + * {
  margin-top: 1rem;
}


.box {
  background: #dbe5ea;
  border-radius: 0.5em;
  overflow: hidden;
}

.box-header {
  background: #0f1c3f;
  color: #fff;
  font-size: 1.25em;
  line-height: 1;
  padding: 1em;
}

.box-menu {
  list-style: none;
  padding: 0;
}

.box-menu > * + * {
  border-top: 2px solid transparent;
}

.box-menu a {
  background-color: rgba(255,255,255,0.5);
  display: block;
  line-height: 1;
  padding: 1rem;
  text-decoration: none;
}

/* At slightly wider sizes, show sidebar boxes side-by-side */

@media (min-width: 34em) and (max-width: 49.9375em) {
  .sidebar {
    grid-template-columns: 1fr 1fr;
  }
}

/* at even wider sizes, float the elements so the sidebar content will rise to the top */

@media (min-width: 50em) {
  .content {
    float: left;
    width: 66.666%;
  }
  .sidebar {
    float: right;
    width: 33.333%;
  }
}

